.popup__submit {
    background-color: black;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2px;
    margin: 48px auto 37px;
    min-height: 50px;
    width: 358px;
    
}